*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

@font-face{
    font-family: "Fasthand";
    src: url(./Fonts/Fasthand-Regular.ttf);
}

.container{
    width: 100vw;
    height: 100vh;
}

/* Encabezado*/

.encabezado{
    width: 100vw;
    height: 12.5%;
    position: relative;
    justify-content: center;
    object-fit: contain;
}

.logo-RM img{
    position: absolute;
    width: 140px;
    height: 80px;
    top: 10px;
}

.logo-adidas img{
    position: absolute;
    width: 140px;
    height: 80px;
    top: 10px;
    left: 45%;
    mix-blend-mode: color-burn;
}

.botones{
    width: 250px;
    height: 30%;
    position: absolute;
    top: 33px;
    right: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.botones img{
    object-fit: contain;
    mix-blend-mode: color-burn;
    margin: 0 10px 0;
}

/* Contenido de la tienda*/

.contenido{
    width: 100vw;
    height: 75%;
    position: relative;
    background-color: rgb(209, 205, 205);
    display: flex;
}

.bloque{
    display: inline-block;
    border-radius: 15px;
}

.bloque.primero{
    background-color: black;
    width: 25%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}

.card{
    width: 25rem;
    height: 10rem;
    background-color: blue;
}

.bloque.segundo{
    background-color: rgb(0, 0, 0);
    margin-left: 1rem;
    width: 75%;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.shop{
    width: 23rem;
    height: 30rem;
    background-image: url(./imagenes/wallpaper.png);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 21px 4px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0px 0px 21px 4px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 21px 4px rgba(255, 255, 255, 0.75);
    justify-content: center;
    filter: grayscale(10%);
}

.shop::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(228, 216, 216, 0.3);
    filter: grayscale(90%);
    z-index: -1;
}

.shop p{
    font-size: 2.5rem;
    color: rgb(248, 236, 218);
    font-weight: bolder;
    text-align: center;
}

.shop img{
    width: 60%;
    height: 60%;
    object-fit: contain;
    position: relative;
    z-index: 1;
}

/* Footer*/

.footer{
    width: 100vw;
    height: 12.5%;
    position: relative;
    justify-content: center;
    justify-items: center;
    object-fit: contain;
}

.redes-sociales{
    width: 300px;
    height: 30%;
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 45%;
    left: 20rem;
}

.redes-sociales p{
    font-size: 2rem;
    text-transform: uppercase;
    position: absolute;
    top: 0.5rem;
    left: -12.5rem;
}

.redes-sociales img{
    object-fit: contain;
    mix-blend-mode: color-burn;
    margin: 0 10px 0;
}

.firma{
    font-family: "Fasthand";
    font-size: 3rem;
    position: absolute;
    right: 10rem;
    bottom: 35%;
}
