*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

.container{
    width: 100vw;
    height: 100vh;
}

.encabezado{
    width: 100vw;
    height: 12.5%;
    position: relative;
    justify-content: center;
    object-fit: contain;
}

.logo-RM img{
    position: absolute;
    width: 140px;
    height: 80px;
    top: 10px;
}

.logo-adidas img{
    position: absolute;
    width: 140px;
    height: 80px;
    top: 10px;
    left: 45%;
    mix-blend-mode: color-burn;
}

.botones{
    width: 250px;
    height: 30%;
    position: absolute;
    top: 33px;
    right: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.botones img{
    object-fit: contain;
    mix-blend-mode: color-burn;
    margin: 0 10px 0;
}

.contenido{
    width: 100vw;
    height: 75%;
    position: relative;
    background-color: rgb(209, 205, 205);
    display: flex;
}

.bloque{
    display: inline-block;
    border-radius: 15px;
}

.bloque.primero{
    background-color: black;
    width: 25%;
    height: 100%;
    
}

.bloque.segundo{
    background-color: aqua;
    margin-left: 1rem;
    width: 75%;
    height: 100%;
}